.header {
    margin: 10px 0;
}

.numOfResults {
    margin: 10px 0;
}

.card {
    padding: 0;
    max-width: 100%;
    margin: 7px 0;
}

.wordCount {
    float: right;
    margin-top: -2px;
}

.card-body {
    padding: .75rem 1.25rem;
}

.form-control {
    margin-bottom: 14px;
}

.search {
    text-align: center;
}

.highlight {
    background-color: yellow;
}

.delete-button {
    float: right;
}

.favorites {
    margin: 0 5px
}